In [2]:
import pandas as pd
import pickle

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
#load
pickle_file = open('predict_proba.pickle','rb')
predict_proba = pickle.load(pickle_file)
pickle_file.close()

In [18]:
games = pd.read_csv("../raw_data/games.csv",index_col=0)
games.head()

              gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
gameId
2018090600  09/06/2018        20:20:00          PHI             ATL     1
2018090901  09/09/2018        13:00:00          CLE             PIT     1
2018090902  09/09/2018        13:00:00          IND             CIN     1
2018090903  09/09/2018        13:00:00          MIA             TEN     1
2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [11]:
players = pd.read_csv("../processed_data/clean/players.csv",index_col=0)
players.head()

,height,weight,birthDate,collegeName,position,displayName
nflId,,,,,,
2539334,1.83,86,1990-09-10,Washington,CB,Desmond Trufant
2539653,1.78,84,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2543850,1.75,84,1991-12-18,Purdue,SS,Ricardo Allen
2555162,1.85,103,1994-11-04,Louisiana State,MLB,Deion Jones
2555255,1.91,105,1993-07-01,Minnesota,OLB,De'Vondre Campbell

In [7]:
summary = pd.read_csv("summary.csv",index_col=0)
summary

,playerId,playId,meanDistance,meanDistanceAfterPass,numberPlayers5yds,numberPlayers5ydsAfterPass,areaDifference,numberPlayersDeep,numberPlayersDeepDifference,numberPlayersUnderneath,densityDifference,heightDifference,widthDifference,cluster,homeScore,visitorScore,down,quarter,yardsToGo,yardsToEndZone,gameClock,defenseValoration
0,71251.0,2018093006:2225:4,10.568907,11.791571,0.000000,0.0,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0
1,89756.0,2018093006:2225:4,10.946105,4.581272,0.264706,0.8,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0
2,494287.0,2018093006:2225:4,31.074778,19.611594,0.000000,0.0,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0
3,2533062.0,2018093006:2225:4,22.644911,19.288428,0.000000,0.0,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0
4,2541243.0,2018093006:2225:4,24.893454,14.407899,0.000000,0.0,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,2550164.0,2018120902:699:14,8.330134,4.746337,0.148148,0.7,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1
753,2552389.0,2018120902:699:14,17.275020,3.427559,0.000000,0.7,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1
754,2555166.0,2018120902:699:14,10.335948,4.058543,0.000000,0.7,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1
755,2555540.0,2018120902:699:14,15.836416,8.746987,0.000000,0.0,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1
756,2556475.0,2018120902:699:14,10.893971,8.198164,0.000000,0.0,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1

In [8]:
summary["predict_proba"] = predict_proba - (1 - predict_proba)
summary

,playerId,playId,meanDistance,meanDistanceAfterPass,numberPlayers5yds,numberPlayers5ydsAfterPass,areaDifference,numberPlayersDeep,numberPlayersDeepDifference,numberPlayersUnderneath,densityDifference,heightDifference,widthDifference,cluster,homeScore,visitorScore,down,quarter,yardsToGo,yardsToEndZone,gameClock,defenseValoration,predict_proba
0,71251.0,2018093006:2225:4,10.568907,11.791571,0.000000,0.0,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0,-1.0
1,89756.0,2018093006:2225:4,10.946105,4.581272,0.264706,0.8,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0,-1.0
2,494287.0,2018093006:2225:4,31.074778,19.611594,0.000000,0.0,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0,-1.0
3,2533062.0,2018093006:2225:4,22.644911,19.288428,0.000000,0.0,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0,-1.0
4,2541243.0,2018093006:2225:4,24.893454,14.407899,0.000000,0.0,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,2550164.0,2018120902:699:14,8.330134,4.746337,0.148148,0.7,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1,1.0
753,2552389.0,2018120902:699:14,17.275020,3.427559,0.000000,0.7,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1,1.0
754,2555166.0,2018120902:699:14,10.335948,4.058543,0.000000,0.7,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1,1.0
755,2555540.0,2018120902:699:14,15.836416,8.746987,0.000000,0.0,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1,1.0
756,2556475.0,2018120902:699:14,10.893971,8.198164,0.000000,0.0,-172.00910,5,4,2,-0.040696,-10.46,-55.60,0.0,7.0,7.0,3,1,21,63.0,03:29:00,1,1.0

In [9]:
predict_proba_sums = summary.groupby("playerId")["predict_proba"].sum()
predict_proba_sums

playerId
1302.0       0.000000
2307.0      -0.287129
2354.0       1.438202
4365.0      -0.088114
71251.0     -1.526316
               ...
2561042.0    1.000000
2561117.0   -0.287129
2561132.0    1.000000
2561318.0   -1.000000
2561644.0    1.000000
Name: predict_proba, Length: 284, dtype: float64

In [13]:
players[players["displayName"]=="Stephon Gilmore"]

         height  weight   birthDate     collegeName position      displayName
nflId
2533062    1.85      92  1990-09-19  South Carolina       CB  Stephon Gilmore

In [14]:
predict_proba_sums.loc[2533062]

-1.0526315789473681

In [15]:
summary[summary["playerId"]==2533062]

,playerId,playId,meanDistance,meanDistanceAfterPass,numberPlayers5yds,numberPlayers5ydsAfterPass,areaDifference,numberPlayersDeep,numberPlayersDeepDifference,numberPlayersUnderneath,densityDifference,heightDifference,widthDifference,cluster,homeScore,visitorScore,down,quarter,yardsToGo,yardsToEndZone,gameClock,defenseValoration,predict_proba
3,2533062.0,2018093006:2225:4,22.644911,19.288428,0.000000,0.000000,44.67445,5,0,3,0.179073,5.27,-41.73,2.0,24.0,0.0,3,2,1,66.0,00:07:00,0,-1.000000
38,2533062.0,2018111108:1321:10,1.681338,1.068655,1.000000,1.000000,51.71845,1,1,4,0.096677,1.32,-24.46,0.0,17.0,10.0,3,2,5,70.0,12:12:00,1,0.473684
271,2533062.0,2018112505:994:12,6.896196,3.954111,0.230769,0.625000,-57.18130,0,0,4,-0.069953,-2.31,-16.03,0.0,7.0,7.0,3,2,3,52.0,14:15:00,1,0.473684
284,2533062.0,2018110410:4090:9,4.040905,2.469223,0.944444,1.833333,-31.99280,0,0,7,-0.218799,-2.11,-28.13,0.0,31.0,17.0,3,4,8,72.0,05:24:00,0,-1.000000

In [21]:
games.loc[2018110410]

gameDate           11/04/2018
gameTimeEastern      20:20:00
homeTeamAbbr               NE
visitorTeamAbbr            GB
week                        9
Name: 2018110410, dtype: object

In [16]:
players[players["displayName"]=="Kyle Fuller"]

         height  weight   birthDate    collegeName position  displayName
nflId
2543681     1.8      88  1992-02-16  Virginia Tech       CB  Kyle Fuller

In [17]:
summary[summary["playerId"]==2543681]

,playerId,playId,meanDistance,meanDistanceAfterPass,numberPlayers5yds,numberPlayers5ydsAfterPass,areaDifference,numberPlayersDeep,numberPlayersDeepDifference,numberPlayersUnderneath,densityDifference,heightDifference,widthDifference,cluster,homeScore,visitorScore,down,quarter,yardsToGo,yardsToEndZone,gameClock,defenseValoration,predict_proba
110,2543681.0,2018101404:1249:6,2.306198,5.685909,1.000000,0.300000,-87.30755,2,1,5,-0.080176,1.47,-30.05,0.0,7.0,0.0,3,2,5,78.0,07:16:00,1,0.473684
361,2543681.0,2018121603:1293:15,1.755946,1.398143,1.000000,1.000000,107.85180,1,1,6,0.064904,5.63,-16.03,0.0,7.0,0.0,3,2,9,33.0,07:37:00,1,1.000000
524,2543681.0,2018093001:1634:4,5.447380,2.038283,0.423077,1.363636,-39.23960,1,0,5,-0.152907,3.03,-23.03,0.0,28.0,3.0,3,2,7,82.0,08:20:00,1,1.000000
608,2543681.0,2018111802:4426:11,5.302089,5.459386,0.433333,0.166667,-0.47755,1,0,5,-12.564129,1.99,-28.37,1.0,25.0,14.0,3,4,3,47.0,01:59:00,0,-0.287129

In [22]:
players[players["displayName"]=="Adrian Amos"]

         height  weight   birthDate collegeName position  displayName
nflId
2552385    1.83      97  1993-04-29  Penn State       FS  Adrian Amos

In [3]:
all_players = pd.read_csv("all_players_plays.csv",index_col=0)
all_players

           good   bad
id
310.0      8558  5460
2495454.0  7740  4959
2533040.0  8227  5214
2543583.0   757   429
2555415.0  7371  4688
...         ...   ...
2552427.0   444   252
2556672.0    74    42
2561359.0   222   126
2552576.0   148    84
2556440.0    74    42

[1111 rows x 2 columns]

In [5]:
players = pd.read_csv("../processed_data/clean/players.csv",index_col=0)
players

,height,weight,birthDate,collegeName,position,displayName
nflId,,,,,,
2539334,1.83,86,1990-09-10,Washington,CB,Desmond Trufant
2539653,1.78,84,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2543850,1.75,84,1991-12-18,Purdue,SS,Ricardo Allen
2555162,1.85,103,1994-11-04,Louisiana State,MLB,Deion Jones
2555255,1.91,105,1993-07-01,Minnesota,OLB,De'Vondre Campbell
...,...,...,...,...,...,...
2553798,1.88,107,09/17/1991,Vanderbilt,LS,Andrew East
2556814,1.88,91,05/17/1994,Duke,WR,Max McCaffrey
2552576,1.98,105,1992-04-25,Oregon State,QB,Sean Mannion
2561469,1.75,85,1993-03-15,Alabama-Birmingham,CB,Darious Williams
2558095,1.88,89,10/12/1995,LSU,WR,Malachi Dupre

In [12]:
def obtainName(playerId):
    return players.loc[playerId]["displayName"]

In [13]:
all_players["displayName"] = all_players.index.map(obtainName)

In [14]:
all_players

           good   bad      displayName
id
310.0      8558  5460        Matt Ryan
2495454.0  7740  4959      Julio Jones
2533040.0  8227  5214     Mohamed Sanu
2543583.0   757   429  Devonta Freeman
2555415.0  7371  4688    Austin Hooper
...         ...   ...              ...
2552427.0   444   252     Tony Lippett
2556672.0    74    42   Alonzo Russell
2561359.0   222   126     Darvin Kidsy
2552576.0   148    84     Sean Mannion
2556440.0    74    42    J.D. McKissic

[1111 rows x 3 columns]

In [15]:
all_players[all_players["displayName"]=="Stephon Gilmore"]

           good   bad      displayName
id
2533062.0  8239  5568  Stephon Gilmore